body {  
  width: 100vw; 
  height: 100vh; 
  background-color: red;   
  margin: 0;
  padding: 0;
}   
img { 
  width: 100%; 
  height: 100%;  
  margin: 0;
  padding: 0;
}
#view { 
  width: 100%; 
  height: 60%;  
  background-color: black;   
  display: flex;
  align-items: center; 
  transition: background-color 0.5s ease-in-out; 
}  
#character { 
  width: 40%; 
  height: 100%;  
}
#text-container { 
  width: 100%; 
  height: 40%;  
  background-color: green;  
  display: flex;
  justify-content: space-between; 
}   

#text-box { 
  width: 60%; 
  height: 100%; 
  background-color: black;  
  transition: background-color 0.5s ease-in-out; 
} 
#text {  
  font-size: 1.7vw;  
  margin: 1.7vw;  
  color: white;  
}
.side  {
  width: 20%; 
  height: 100%;  
} 
.view-side  {
  width: 30%; 
  height: 100%;  
} 
.ext { 
  background-color: black;  
  transition: background-color 0.5s ease-in-out; 
}
