body {  
  width: 100vw; 
  height: 100vh; 
  background-color: red;   
}  
#view { 
  width: 100%; 
  height: 50%;  
  background-color: blue; 
} 
#text-container { 
  width: 100%; 
  height: 50%;  
  background-color: green; 
}
